<div class="product-des-img">
  <%= image_tag "home1.jpg" %>
</div>
<%= render partial: 'spree/shared/home_taxonomies' %>

<h1 class="taxon-title"><%= @taxon.name %></h1>
<div class="editorial-wrapper">
    <div class="editorial">
        <div class="editorial-text">
            <h2 class="editorial-title">Mugs</h2>
            <p class="editorial-description">A mug is a type of cup typically used for drinking hot beverages, such as coffee, hot chocolate, soup, or tea.
            </p>
            <p class="editorial-secondary-description">Available in 4 sizes: Small, Medium, Large and Extra Large</p>
        </div>
      <%= image_tag "product_desc.jpg", class: 'subcategory-image'  , alt: 'Subcategory Secondary Image' %>
    </div>
</div>
<% content_for :head do %>
  <% if products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags products %>
  <% end %>
<% end %>

<div data-hook="products_search_results_heading">
  <% if products.empty? %>
    <div data-hook="products_search_results_heading_no_results_found">
      <%= Spree.t(:no_products_found) %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div>

<% if products.any? %>
  <div id="products" class="row" data-hook>
    <% products.each do |product| %>
      <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
      <div id="product_<%= product.id %>" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
        <div class="panel panel-default">
          <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : cache_key_for_product(product)) do %>
            <div class="panel-body text-center product-body">
              <%= link_to url, itemprop: "url" do %>
                <%= small_image(product, itemprop: "image") %><br/>
              <% end %>
              <br/>
            </div>
            <div class="panel-footer text-center">
              <%= link_to url, itemprop: "url" do %>
                <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %> </br>
                <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                  <span class="price selling lead" itemprop="price"><%= display_price(product) %></span>
                </span>
              <% end %>  
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% reset_cycle("classes") %>
  </div>
<% end %>

<% if products.respond_to?(:total_pages) %>
  <%= paginate products, theme: 'twitter-bootstrap-3' %>
<% end %>
